extends layout

block content
  h1= title
  each board in boards
    div
      a(href=`/${board.short}`)
        h2.board-short #{board.short}
      p.board-long #{board.long}

  p Welcome to #{title}
