mixin file(m)
  .file
    .fileText
      span.fileInfo
        a(href=m.url) #{m.name}
        |   ( #{m.size} KB )
    a.fileThumb(href=m.url)
      img(src=m.url)

mixin post(p)
  - var d = new Date(p.createdAt);
  div(class=`postContainer ${attributes.type}Container`)
    div(id=`${p.postNo}`, class=`${attributes.type} post`)
      if p.media
        +file(p.media)
      .content
        .postInfo
          .dateTime
            span #{d.toLocaleString()}
          .postNum
            a(href=`/${board.short}/${p.postNo}#p${p.postNo}`,title='Link to this post') No.
            a(href=`/${board.short}/${p.postNo}#q${p.postNo}`,title='Reply to this post') #{p.postNo}
            
        .postMessage
          span #{p.content}

mixin thread(t,showSnippet)

  .thread
    +post(t.posts[0])(type='op')
    if showSnippet
      each postIdx in t.lastPostsArr
        +post(t.posts[postIdx])(type='reply')
    else
      each post in t.posts
        +post(post)(type='reply')
