body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eef2ff;
}
.boardInfo{
  margin-left:64px;
}
.boardTitle{
  text-transform:uppercase;
}
.boardDesc{
  font-weight:lighter;
  color:hsl(0, 0%, 65%);
}
.thread{
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  color:#444;
}
.fileInfo{
  font-size: 75%;
}
.content{
  padding:10px;
}
.postMessage{
  margin-top:10px;
}
.fileThumb{
  margin-left:10px;
}
.fileThumb img{
  max-width:300px;
  max-height:240px;
}
.postContainer{
  margin:10px;
}
.dateTime, .postNum{
  display:inline-block;
  margin-left:3px;
  padding:3px;
}
.postNum a{
  text-decoration: none;
  color:inherit;
}
.postNum a:hover{
  color: hsl(0, 62%, 49%);
}
.replyContainer {
  background: hsla(231, 2%, 22%, 0.2);
  margin-left:20px;
  padding:10px;
}
.post {
    display: flex;
}

.replyContainer .fileThumb img{
  max-width:150px;
  max-height:120px;
}


a {
  color: #00B7FF;
}
